/*Counteract imported stylesheet for dropdown*/

h1, h2, h3, h4, h5
{
    font-family: "open sans", arial, sans-serif !important; /* Font + fallbacks */
    line-height: initial !important;
    margin: initial !important;
    font-weight: initial !important;
    padding: initial !important;
}

body
{
    font-family: "open sans", arial, sans-serif !important; /* Font + fallbacks */
    background: var(--main-background-color) !important;
}

body, html 
{
    --min-mobile-width: 428px;
    height: 100% !important;
    min-width: var(--min-mobile-width);
}

input[type=email], input[type=password], input[type=search], input[type=text]
{
    -webkit-appearance: auto !important;
}

button, input, optgroup, select, textarea
{
    font-family: "open sans", arial, sans-serif !important; /* Font + fallbacks */
    line-height: initial !important;
}

.app
{
    height: 100% !important;
}

.tooltip
{
    z-index: 1050 !important; /*Just lower than the swal pop-up (normally 1060px)*/
}


/* make buttons look more modern */
.btn
{
    border-radius: 0;
    background-color: #fff;
}

.btn:not(.top-bar-button) /* Add CSS to .btn as long as it's not also .top-bar-button */
{
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.75em 1em;
}

.btn-primary
{
    color: rebeccapurple;
    border-color: rebeccapurple;
}

.btn-primary:hover
{
    color: #fff;
    background: rebeccapurple;
    border-color: rebeccapurple;
}

.btn-secondary
{
    color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover
{
    color: #fff;
    background: #545b62;
}

.btn-success
{
    color: #28a745;
    border-color: #28a745;
}

.btn-success:hover
{
    color: #fff;
    background: #1e7e34;
}

.btn-danger
{
    color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover
{
    color: #fff;
    background: #bd2130;
}
