/*.box-view
{
}*/

.box-title-no-edit
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-title-edit
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 2px;
    max-height: 50px;
}

.box-name
{
    display: flex; /*Keeps the edit icon next to the title*/
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box-name-text
{
    font-size: 25px !important;
    text-align: center;
    margin-bottom: 0px;
    cursor: pointer;
}

.box-name-input
{
    position: relative;
    top: 1.5px;
    left: 3px;
    margin-bottom: 11px;
    max-width: 250px;
    cursor: initial !important;
}

.box-name-living-dex-icon
{
    margin-left: 1px;
    margin-right: 5px;
    cursor: pointer;
    user-select: none; /*Prevent text highlighting when button is clicked*/
}

.box-name-edit-icon
{
    margin-left: 10px;
    cursor: pointer;
    user-select: none; /*Prevent text highlighting when button is clicked*/
}

.box-name-cancel-icon
{
    position: relative;
    right: 1px;
    bottom: 4px;
    cursor: pointer;
    user-select: none; /*Prevent text highlighting when button is clicked*/
}

.box-name-save-icon
{
    position: relative;
    left: 6px;
    bottom: 4px;
    cursor: pointer;
    user-select: none;
}

.box-change-arrow
{
    cursor: pointer;
    user-select: none;
}

.box
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    width: fit-content;
    margin-bottom: 2%;
}

.save-box
{
    background-color: var(--save-box-color);
}

.home-box
{
    background-color: var(--home-box-color);
}

.box-icon
{
    display: table;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 68px;
    min-height: 56px;
    user-select: none;
    position: relative; /*Allows the item icon to position properly*/
}

.box-icon-hoverable
{
    cursor: pointer;
}

.selected-box-icon
{
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.wonder-trade-box-icon, .wonder-trade-box-icon:hover
{
    background-color: grey !important;
}

.error-box-icon
{
    background-color: red !important;
}

.box-icon-image
{
    width: 100%;
    height: auto;
    max-height: 54px; /*Minus the 2 for the borders*/
}

.living-dex-icon, .box-icon-faded
{
    opacity: 0.3;
}

.box-icon-greyscale
{
    filter: grayscale(100%);
}

.fix-living-dex-button-container
{
    display: flex;
    justify-content: center;
}

.error-message
{
    color: red;
    text-align: center;
    font-size: 20px;
}

.box-lower-icons
{
    margin-bottom: 2%;
}

.box-lower-icon
{
    cursor: pointer;
    user-select: none; /*Prevent text highlighting when button is clicked*/
    height: 36px;
    margin-right: 5%;
}

.green-icon
{
    color: #21f391;
}

.box-icon-item-icon
{
    position: absolute;
    bottom: 1px;
    right: 0px;
    z-index: 1;
}

.box-icon-shiny-icon
{
    color: goldenrod;
    position: absolute;
    bottom: -4px;
    left: 0px;
    z-index: 1;
}

.lower-icon-message
{
    text-align: center;
    height: 36px;
    font-size: 20px;
}
