
.footer-buttons
{
    background-color: var(--purple);
    height: var(--footer-height);
    width: 100%;
    flex-shrink: 0; /*Allows footer to stick at bottom*/
    display: flex; /*The contents of the footer*/
    justify-content: space-between;
}

.footer-buttons-mobile
{
    height: 112px;
    flex-direction: column;
}

.footer-buttons-mobile-row
{
    display: flex;
    justify-content: space-evenly;
}

.footer-buttons-mobile-row-2
{
    margin-bottom: 8px;
}

.footer-button
{
    display: contents; /* So dark mode button transitions correctly */
    color: white !important;
    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
    box-shadow: unset !important;
    font-size: 24px !important;
    border: none;
    border-radius: 0px;
    max-height: 56px;
}

.footer-button-icon
{
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

/* Buttons on footer */

.music-button
{
    padding: 0px !important;
}

.friend-trade-button
{
    padding-right: 5px !important;
}

.multi-ark-gaming-logo
{
    width: 120px;
}
