.form-title
{
    text-align: center;
    font-weight: 600  !important; /*Semi-bold*/
    font-size: 1.5rem !important;
    line-height: 2rem  !important;
}

.already-have-account-button
{
    color: rgb(59 130 246);
    cursor: pointer;
    width: fit-content;
    margin: auto;
    margin-bottom: 5% !important;
}

.forgot-password-button
{
    margin: 0;
}

.show-password-symbol
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-left: 0.5rem;
}

.submit-form-button-container
{
    display: flex;
    justify-content: center;
}

.submit-form-button
{
    margin-bottom: 2%;
}

.activate-account-buttons
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.form-error-msg
{
    color: red;
    min-height: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.form-control
{
    min-height: 2.71428571em;
}

.form-label
{
    font-weight: bold;
}

.form-text
{
    color: black !important;    
}

::placeholder
{
    color: rgba(191,191,191,.87) !important;
}

.tester-upload-button
{
    width: 100%;
    margin-bottom: 2%;
}
