
.form-label
{
    font-weight: bold;
}

.form-text
{
    color: black !important;    
}

.MuiFormLabel-asterisk
{
    /* Colour of the required asterisk in the material UI form labels */
    color: red;
}

.form-title
{
    text-align: center;
    font-weight: 600  !important; /*Semi-bold*/
    font-size: 1.5rem !important;
    line-height: 2rem  !important;
}

.form-sub-title
{
    text-align: center;
    font-size: 1.25rem !important;
    line-height: 1.75rem  !important;
}

.form-desc
{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.form-field
{
    display: flex !important;
    margin-bottom: 1rem !important;
}

.submit-form-button-container
{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.submit-form-button
{
    width: 100%;
    margin-bottom: 2%;
}


.already-have-account-container
{
    text-align: center;
    margin-top: 1rem;
}

.already-have-account-button, .forgot-password-button
{
    color: rgb(59 130 246);
    cursor: pointer;
}

[data-darkreader-scheme="dark"] .already-have-account-button, [data-darkreader-scheme="dark"] .forgot-password-button, a /* Dark mode */
{
    color: #4ea0ff !important;
}

.activate-account-buttons
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.tester-upload-button
{
    width: 100%;
    margin-bottom: 2%;
}
