.main-page-title
{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

.main-page-purple-icon-button
{
    color: rebeccapurple;
    cursor: pointer;
}

.fade-in
{
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.fade-in-fast
{
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
}

@keyframes fadeIn
{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn
{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn
{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn
{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn
{
    0% {opacity:0;}
    100% {opacity:1;}
}

.main-page-upload-instructions
{
    display: flex;
    flex-direction: column; /*Top to bottom rows*/
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    min-width: var(--min-mobile-width);
    overflow-y: auto;
}

.file-handle-page-mobile
{
    padding-left: 2%;
    padding-right: 2%;
}

.choose-home-file-button
{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.choose-save-file-button
{
    margin-top: 1%;
}

.error-text
{
    color: red;
}

.upload-progress-bar
{
    width: 90%;
    max-width: 500px;
}

.main-page-save-file-dropdown
{
    margin-top: 2%;
}

.confirm-save-file-upload-button
{
    background-color: rebeccapurple !important;
    border-color: rebeccapurple !important;
    box-shadow: unset !important;
    width: fit-content !important;
    font-size: 24px;
}

.main-page-home-storage-example-container
{
    display: flex;
    justify-content: center;
    max-width: 350px;
    height: 255px;
    margin-bottom: 2%;
}

.main-page-home-storage-example
{
    height: 100%;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.main-page-mobile
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-page-boxes
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1 0 auto; /*Allows footer to stick at bottom*/
    padding-left: var(--scrollbar-width); /*Offset the scrollbar*/
}

.main-page-boxes-mobile
{
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top-bar-buttons
{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    margin-bottom: 1%;
    height: 56px;
    width: 100%;
}

.navbar-blank
{
    background-color: rebeccapurple !important;
    position: static;
    margin-bottom: 0px;
}

.fixed-navbar
{
    z-index: 100;
    position: fixed;
    top: 0;
}

.sticky-navbar
{
    z-index: 100;
    position: sticky;
    top: 0;
}

.top-bar-button
{
    background-color: rebeccapurple !important;
    border-color: rebeccapurple !important;
    box-shadow: unset !important;
    width: 50%;
    font-size: 24px;
    border-radius: 0px;
}

.top-bar-button-selected
{
    background-color: mediumpurple !important;
    border-color: mediumpurple !important;
}

.top-bar-back-button
{
    color: white;
    background-color: rebeccapurple !important;
    border-color: rebeccapurple !important;
    box-shadow: unset !important;
    height: 100%;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.footer-buttons
{
    background-color: rebeccapurple;
    height: 56px;
    flex-shrink: 0; /*Allows footer to stick at bottom*/
    display: flex; /*The contents of the footer*/
    justify-content: center;
}

.footer-buttons-fixed
{
    /*Stick to bottom of page on mobile devices*/
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-button
{
    background-color: rebeccapurple !important;
    border-color: rebeccapurple !important;
    box-shadow: unset !important;
    font-size: 24px;
    border: none;
    border-radius: 0px;
    max-height: 56px;
    padding: 0px 14px 0px 14px !important; /*Top Right Bottom Left*/
}

.dragging-image
{
    position: absolute;
    opacity: 0.7;
    visibility: hidden; /*Changed when dragging*/
    pointer-events: none; /*Allows clicking through it*/
    z-index: 200;
}

.scroll-container
{
    display: flex; /*Allows footer to stick at bottom*/
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 56px;
    bottom: 0;
    width: 100%;
    min-width: var(--min-mobile-width);
}

.scroll-container-mobile
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
