.search-view
{
    width: 100%;
    max-width: var(--min-mobile-width);
}

.search-form
{
    padding: 10px;
    margin-bottom: 2%;
}

.search-title-text
{
    font-size: 25px !important;
    text-align: center;
    margin-bottom: 0px;
}
